@import url("react-toastify/dist/ReactToastify.css");

:root {
  --gray-100: #e1e1e6;
  --gray-300: #c4c4c6;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --gray-800: #191914;

  --blue-dark: #078ED0;
  --blue-ligth: #51ACDB;

  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
  font-size: 1rem;
}

.react-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.1rem;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background-color: var(--white);
  padding: 2.8rem;
  position: relative;
  border-radius: 0.25rem;
  outline: none;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .react-modal-content {
    overflow: scroll;
    height: 40rem;
  }
}