.main {
  width: 100%;
  flex: 1;
  justify-content: center;
  padding: 2.5rem 2.8rem;
  border-bottom: 1px solid var(--gray-100);
}

.main form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main form .fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.fieldsColumns {
  width: 31.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fieldsColumns .boxInput {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boxInput label {
  color: var(--gray-600);
  font-size: 1rem;
}

.boxInput input {
  width: 100%;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 0.4rem;
  outline: none;
  font-size: 1.1rem;
  color: var(--gray-600);
}

.boxInput input:focus {
  border-bottom: 1px solid var(--blue-dark);
}

.boxInput input::placeholder {
  color: var(--gray-400);
}

.checkboxFields {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.1rem;
}

.checkboxFieldsColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxItem {
  display: flex;
  gap: 0.5rem;
}

.checkboxItem label {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.cadastrarContato {
  width: 11.75rem;
  padding: 0.8rem 0.8rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 0;
  background-color: var(--blue-ligth);
  color: var(--white);
  font-weight: 700;
  align-self: flex-end;
}

@media (max-width: 410px) {
  .main form .fields {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .cadastrarContato {
    width: 100%;
  }
}